In [2]:
import json
import pandas as pd

In [6]:
df = pd.read_csv('data.csv', names=['Element', 'ShortName', 'No'])

In [7]:
df.head()

     Element ShortName  No
0   Hydrogen         H   1
1     Helium        He   2
2    Lithium        Li   3
3  Beryllium        Be   4
4      Boron         B   5

In [13]:
processed_data = {
    x[1]: {'name': x[0], 'no': x[2]}
    for x in df.values
}

In [16]:
with open('data.json', 'w') as file:
    json.dump(processed_data, file, indent=2)